<!-- CONTENT -->
<div class="container">
    <div id="main">
        <div class="row">
            <div class="span9">

                <div class="properties-rows">
                    <div class="filter" ng-controller="FilterController" style="margin-bottom: 20px;">
                        <div class="row" style=" padding-top: 5px;padding-bottom: 5px;">
                            <ul>
                                <li class="title"><a class="text-primary">地区</a></li>
                                <li ng-repeat="f in town">
                                    <a ng-click="addFilterTown(f.area);">{{f.area}}<span
                                        class="text-info">({{f.storecount}})</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="row" style=" padding-top: 5px;padding-bottom: 5px;">
                            <ul>
                                <li class="title"><a class="text-primary">类别</a></li>
                                <li ng-repeat="f in category">
                                    <a ng-click="addFilterCategory(f.category);">{{f.category}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="row" style=" padding-top: 5px;padding-bottom: 5px;">
                            <ul>
                                <li class="title"><a class="text-primary">已筛选</a></li>
                                <li ng-repeat="f in doFilter.filters">
                                    <a class="filters" ng-click="removeFilter(f);">{{f.value}}<i></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.filter -->
                </div>
                <!-- /.properties-rows -->
                <div class="properties-grid">
                    <div class="row">
                        <div class="property span3" ng-repeat="store in stores | filter: doFilter.filterDetail">
                            <div class="image">
                                <div class="content">
                                    <a href="#/cate/{{store.id}}"></a>
                                    <img ng-if="store.logo2" ng-src="app/img/{{store.userid}}/{{store.logo2}}"
                                         alt="{{store.name}}">
                                    <img ng-if="!store.logo2" ng-src="app/img/{{store.category}}.png"
                                         alt="{{store.name}}">
                                </div>
                                <!-- /.content -->
                            </div>
                            <!-- /.image -->
                            <div class="title">
                                <h2><a href="#/cate/{{store.id}}">{{store.name}}</a>&nbsp;&nbsp;<span
                                    class="content-stars-rank content-stars-{{store.hot}}"></span></h2>
                            </div>
                            <!-- /.title -->
                            <div class="location">
                                地区:{{store.town}}<span class="value">&nbsp;&nbsp;电话:{{store.phone}}</span></h5>
                            </div>
                            <!-- /.location -->
                            <div class="area">
                                <span class="key">特色:</span>
                                <span class="value">{{store.feature}}</span>
                            </div>
                            <!-- /.area -->
                            <div class="pcc">
                                <div class="inner" ng-if="store.pcc > 0">人均:￥{{store.pcc}}元</div>
                            </div>
                            <!-- /.pcc -->
                        </div>
                        <!-- /.property -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.properties-grid -->
            </div>
            <!-- /.properties-rows -->
            <div class="sidebar span3">

                <div class="property-filter widget">
                    <div class="content" ng-controller="FilterController">
                        <form method="get" action="?">
                            <div class="location control-group">
                                <label class="control-label" for="inputLocation">
                                    地区
                                </label>

                                <div class="controls">
                                    <select id="inputLocation" ng-model="doFilter.filterDetail.town">
                                        <option value="">全部</option>
                                        <option ng-repeat="t in town">{{t.area}}</option>
                                    </select>
                                </div>
                                <!-- /.controls -->
                            </div>
                            <!-- /.control-group -->

                            <div class="type control-group">
                                <label class="control-label" for="inputType">
                                    类别
                                </label>

                                <div class="controls">
                                    <select id="inputType" ng-model="doFilter.filterDetail.category">
                                        <option value="">全部</option>
                                        <option ng-repeat="c in category">{{c.category}}</option>
                                    </select>
                                </div>
                                <!-- /.controls -->
                            </div>
                            <!-- /.control-group -->

                            <div class="form-actions">
                                <input type="reset" value="Reset!" class="btn btn-primary btn-large"
                                       ng-click="resetFilter();">
                            </div>
                            <!-- /.form-actions -->
                        </form>
                    </div>
                    <!-- /.content -->
                </div>
                <!-- /.property-filter -->
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- 轮播（Carousel）指标 -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>
                    <!-- 轮播（Carousel）项目 -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="app/img/slider-0.jpg" alt="First slide"/>
                        </div>
                        <div class="item">
                            <img src="app/img/slider-1.jpg" alt="Second slide"/>
                        </div>
                        <div class="item">
                            <img src="app/img/slider-2.jpg" alt="Third slide"/>
                        </div>
                        <div class="item">
                            <img src="app/img/slider-3.jpg" alt="Third slide"/>
                        </div>
                    </div>
                    <!-- 轮播（Carousel）导航 -->
                    <a class="carousel-control left" href="javascript:void(0);"
                       onclick="$('#myCarousel').carousel('prev');">&lsaquo;</a>
                    <a class="carousel-control right" href="javascript:void(0);"
                       onclick="$('#myCarousel').carousel('next');">&rsaquo;</a>
                </div>
                <div class="hidden-xs">
                    <div qrcode class="text-center"></div>
                </div>
                <!-- /qrcode -->
                <div class="ad widget">
                    <h2>Advertisements</h2>

                    <div class="content">
                        <a href="#"><img src="img/banner/1.gif" alt="Banner"></a>
                        <a href="#"><img src="img/banner/2.gif" alt="Banner"></a>
                        <a href="#"><img src="img/banner/3.gif" alt="Banner"></a>
                        <a href="#"><img src="img/banner/4.gif" alt="Banner"></a>
                    </div>
                    <!-- /.content -->
                </div>
                <!-- /.ad -->
            </div>
        </div>
    </div>
</div>
