<!-- CONTENT -->
<div class="container">
    <div id="main">
        <div class="row">
            <div class="span9">

                <div class="properties-rows">
                    <div class="filter" ng-controller="FilterController" style="margin-bottom: 20px;">
                        <div class="row" style=" padding-top: 5px;padding-bottom: 5px;">
                            <ul>
                                <li class="title"><a class="text-primary">地区</a></li>
                                <li ng-repeat="f in town">
                                    <a ng-click="addFilterTown(f.area);">{{f.area}}<span
                                        class="text-info">({{f.storecount}})</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="row" style=" padding-top: 5px;padding-bottom: 5px;">
                            <ul>
                                <li class="title"><a class="text-primary">类别</a></li>
                                <li ng-repeat="f in category">
                                    <a ng-click="addFilterCategory(f.category);">{{f.category}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="row" style=" padding-top: 5px;padding-bottom: 5px;">
                            <ul>
                                <li class="title"><a class="text-primary">已筛选</a></li>
                                <li ng-repeat="f in doFilter.filters">
                                    <a class="filters" ng-click="removeFilter(f);">{{f.value}}<i></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.filter -->
                </div>
                <!-- /.properties-rows -->
                <div class="properties-grid">
                    <div class="row">
                        <div class="property span3" ng-repeat="store in stores | filter: doFilter.filterDetail">
                            <div class="image">
                                <div class="content">
                                    <a href="#/help/{{store.id}}"></a>
                                    <img ng-if="store.logo2" ng-src="app/img/{{store.userid}}/{{store.logo2}}"
                                         alt="{{store.name}}">
                                    <img ng-if="!store.logo2" ng-src="app/img/{{store.category}}.png"
                                         alt="{{store.name}}">
                                </div>
                                <!-- /.content -->
                            </div>
                            <!-- /.image -->
                            <div class="title">
                                <h2><a href="#/help/{{store.id}}">{{store.name}}</a>&nbsp;&nbsp;<span
                                    class="content-stars-rank content-stars-{{store.hot}}"></span></h2>
                            </div>
                            <!-- /.title -->
                            <div class="location">
                                地区:{{store.town}}<span class="value">&nbsp;&nbsp;电话:{{store.phone}}</span></h5>
                            </div>
                            <!-- /.location -->
                            <div class="area">
                                <span class="key">专长:</span>
                                <span class="value">{{store.feature}}</span>
                            </div>
                            <!-- /.area -->
                        </div>
                        <!-- /.property -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.properties-grid -->
            </div>
            <!-- /.properties-rows -->
            <div class="sidebar span3">

                <div class="property-filter widget">
                    <div class="content" ng-controller="FilterController">
                        <form method="get" action="?">
                            <div class="location control-group">
                                <label class="control-label" for="inputLocation">
                                    地区
                                </label>

                                <div class="controls">
                                    <select id="inputLocation" ng-model="doFilter.filterDetail.town">
                                        <option value="">全部</option>
                                        <option ng-repeat="t in town">{{t.area}}</option>
                                    </select>
                                </div>
                                <!-- /.controls -->
                            </div>
                            <!-- /.control-group -->

                            <div class="type control-group">
                                <label class="control-label" for="inputType">
                                    类别
                                </label>

                                <div class="controls">
                                    <select id="inputType"  ng-model="doFilter.filterDetail.category">
                                        <option value="">全部</option>
                                        <option ng-repeat="c in category">{{c.category}}</option>
                                    </select>
                                </div>
                                <!-- /.controls -->
                            </div>
                            <!-- /.control-group -->

                            <div class="form-actions">
                                <input type="reset" value="Reset!" class="btn btn-primary btn-large" ng-click="resetFilter();">
                            </div>
                            <!-- /.form-actions -->
                        </form>
                    </div>
                    <!-- /.content -->
                </div>
                <!-- /.property-filter -->
                <div class="widget our-agents">
                    <div class="title">
                        <h2>Our Agents</h2>
                    </div>
                    <!-- /.title -->

                    <div class="content">
                        <div class="agent">
                            <div class="image">
                                <img src="img/photos/emma-small.png" alt="">
                            </div>
                            <!-- /.image -->
                            <div class="name">Victoria Summer</div>
                            <!-- /.name -->
                            <div class="phone">333-666-777</div>
                            <!-- /.phone -->
                            <div class="email"><a href="mailto:victoria@example.com">victoria@example.com</a></div>
                            <!-- /.email -->
                        </div>
                        <!-- /.agent -->

                        <div class="agent">
                            <div class="image">
                                <img src="img/photos/john-small.png" alt="">
                            </div>
                            <!-- /.image -->
                            <div class="name">John Doe</div>
                            <!-- /.name -->
                            <div class="phone">111-222-333</div>
                            <!-- /.phone -->
                            <div class="email"><a href="mailto:john.doe@example.com">victoria@example.com</a></div>
                            <!-- /.email -->
                        </div>
                        <!-- /.agent -->
                    </div>
                    <!-- /.content -->
                </div>
                <!-- /.our-agents -->
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- 轮播（Carousel）指标 -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>
                    <!-- 轮播（Carousel）项目 -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="app/img/slider-0.jpg" alt="First slide"/>
                        </div>
                        <div class="item">
                            <img src="app/img/slider-1.jpg" alt="Second slide"/>
                        </div>
                        <div class="item">
                            <img src="app/img/slider-2.jpg" alt="Third slide"/>
                        </div>
                        <div class="item">
                            <img src="app/img/slider-3.jpg" alt="Third slide"/>
                        </div>
                    </div>
                    <!-- 轮播（Carousel）导航 -->
                    <a class="carousel-control left" href="javascript:void(0);"
                       onclick="$('#myCarousel').carousel('prev');">&lsaquo;</a>
                    <a class="carousel-control right" href="javascript:void(0);"
                       onclick="$('#myCarousel').carousel('next');">&rsaquo;</a>
                </div>
                <div class="ad widget">
                    <h2>Advertisements</h2>

                    <div class="content">
                        <a href="#"><img src="img/banner/1.gif" alt="Banner"></a>
                        <a href="#"><img src="img/banner/2.gif" alt="Banner"></a>
                        <a href="#"><img src="img/banner/3.gif" alt="Banner"></a>
                        <a href="#"><img src="img/banner/4.gif" alt="Banner"></a>
                    </div>
                    <!-- /.content -->
                </div>
                <!-- /.ad -->
            </div>
        </div>
    </div>
</div>
<div class="palette">
    <div class="toggle">
        <a href="#">Toggle</a>
    </div>
    <!-- /.toggle -->

    <div class="inner">
        <div class="headers">
            <h2>Header styles</h2>
            <ul>
                <li><a class="header-light">Light</a></li>
                <li><a class="header-normal">Normal</a></li>
                <li><a class="header-dark">Dark</a></li>
            </ul>
        </div>
        <!-- /.headers -->

        <div class="patterns">
            <h2>Background patterns</h2>
            <ul>
                <li><a class="pattern-cloth-alike">cloth-alike</a></li>
                <li><a class="pattern-corrugation">corrugation</a></li>
                <li><a class="pattern-diagonal-noise">diagonal-noise</a></li>
                <li><a class="pattern-dust">dust</a></li>
                <li><a class="pattern-fabric-plaid">fabric-plaid</a></li>
                <li><a class="pattern-farmer">farmer</a></li>
                <li><a class="pattern-grid-noise">grid-noise</a></li>
                <li><a class="pattern-lghtmesh">lghtmesh</a></li>
                <li><a class="pattern-pw-maze-white">pw-maze-white</a></li>
                <li><a class="pattern-none">none</a></li>
            </ul>
        </div>

        <div class="colors">
            <h2>Color variants</h2>
            <ul>
                <li><a href="css/realia-red.css" class="red">Red</a></li>
                <li><a href="css/realia-magenta.css" class="magenta">Magenta</a></li>
                <li><a href="css/hijs-brown.css" class="brown">Brown</a></li>
                <li><a href="css/realia-orange.css" class="orange">Orange</a></li>
                <li><a href="css/realia-brown-dark.css" class="brown-dark">Brown dark</a></li>

                <li><a href="css/realia-gray-red.css" class="gray-red">Gray Red</a></li>
                <li><a href="css/realia-gray-magenta.css" class="gray-magenta">Gray Magenta</a></li>
                <li><a href="css/realia-gray-brown.css" class="gray-brown">Gray Brown</a></li>
                <li><a href="css/realia-gray-orange.css" class="gray-orange">Gray Orange</a></li>
                <li><a href="css/realia-gray-brown-dark.css" class="gray-brown-dark">Gray Brown dark</a></li>

                <li><a href="css/realia-green-light.css" class="green-light">Green light</a></li>
                <li><a href="css/realia-green.css" class="green">Green</a></li>
                <li><a href="css/realia-turquiose.css" class="turquiose">Turquiose</a></li>
                <li><a href="css/hijs-blue.css" class="blue">Blue</a></li>
                <li><a href="css/realia-violet.css" class="violet">Violet</a></li>

                <li><a href="css/realia-gray-green-light.css" class="gray-green-light">Gray Green light</a></li>
                <li><a href="css/realia-gray-green.css" class="gray-green">Gray Green</a></li>
                <li><a href="css/realia-gray-turquiose.css" class="gray-turquiose">Gray Turquiose</a></li>
                <li><a href="css/realia-gray-blue.css" class="gray-blue">Gray Blue</a></li>
                <li><a href="css/realia-gray-violet.css" class="gray-violet">Gray Violet</a></li>
            </ul>
        </div>
        <!-- /.colors -->

        <a href="#" class="btn btn-primary reset">Reset default</a>
    </div>
    <!-- /.inner -->
</div>
<!-- /.palette -->
