<!-- CONTENT -->
<div id="content">
    <div class="container">
        <div id="main">
            <div class="row">
                <div class="span9">
                    <div id="property-map" style="min-height: 570px">
                        <h4>红木家具介绍</h4>
                        <ul>
                            <li>红木家具始于明朝，外形简单，天然材色，纹理漂亮，是民族性很强的一种家具，也被称为人文家具和艺术家具。现在有很多比较专业的红木家具厂，制作的红木家具也比较精致，红木家具的质量也比较好，而且是用得越久越有味道。</li>
                        </ul>
                        <h4>红木家具知识之分类</h4>
                        <ul>
                            <li>红木家具主要是指用紫檀木，酸枝木、乌木、花梨木、鸡翅木制成的家具，其他的也都不能被称作红木家具;红木家具按产品用材分可分为全红木家具、主要部位红木家具和红木包覆家具三种;红木家具按产品工艺分类可分为传统硬木家具、现代硬木家具。</li>
                        </ul>
                        <h4>红木家具的真假辨别</h4>
                        <ul>　　
                            <li>1、首先是要闻气味。红木原材料会有清香，名贵品种的香味更是非常醇厚绵柔。如果家具的气味让人流泪、呛鼻，说明家具有较高的甲醛释放量，就要怀疑真假了。</li>　　
                            <li>2、看木纹，摸材质。如果家具表面有较为明显的凹凸痕迹、木纹不自然断裂、变化，就有可能是用不同的材料拼接。消费者可以事先查阅资料，货比三家，对自己想选购的红木种类有所了解，观品相、看工艺。</li>　　
                            <li>3、质检报告。如果是购买新制的红木家具，消费者可以向经销商索取质量检验报告。根据相关标准，红木家具销售标签应包括：产品名称、规格型号、产地、生产厂的厂名、主料、辅料、漆质、质量等级、产品标准编号、配套件数、计价单位、销售价格。不过，很多商家对标准规定的内容少标或不标，这就可能藏有消费陷阱。</li>
                        </ul>
                        <h4>红木家具保养</h4>
                        <ul>　　
                            <li>1、红木家具与一般家具有所不同，它宜阴湿，忌干燥，故红木家具特别不宜受到暴晒，切忌空调对着家具吹。</li>　　
                            <li>2、红木家具须藏物适度，橱内存放物件，不要超过门框，如果经常硬挤硬塞，会造成橱门变形。</li>　　
                            <li>3、红木家具的红木板面一般是脆的，如桌面、椅面。要经常注意防止碰伤碰裂，如果在使用或搬动时，发现着力处出现脱榫，一定要重新胶合密封后再使用。</li>　　
                            <li>4、红木家具一般使用年代较长，所以平时要经常保护好家具表面涂料，最好每隔三个月，用少许蜡擦一次，不仅增加家具美观，而且保护木质。</li>　　
                            <li>5、防止酒精、香蕉水等溶剂倒翻。否则会使家具表面长“伤疤”。遇到家具表面染上污垢时，要用轻度的肥皂水洗净，干燥后，再上蜡一次，以恢复原貌，但切忌用汽油、煤油、松节油等溶剂性液体擦，否则会擦掉表面的涂料和漆的光泽。</li>　　
                            <li>6、用于保养家具的核桃油只适用于没上漆、用打蜡方式处理的家具。使用频率不宜过高，一般情况下2~3个月使用一次即可，在比较干燥的环境中可以适当缩短保养间隔时间，一个月左右保养。</li>
                        </ul>
                    </div>
                    <!-- /#property-map -->

                </div>

                <div class="sidebar span3">
                    <div class="widget our-agents">
                        <div class="title">
                            <h2>销售热线</h2>
                        </div>
                        <!-- /.title -->

                        <div class="content">
                            <div class="agent">
                                <div class="image">
                                    <img src="img/photos/emma-small.png" alt="">
                                </div>
                                <!-- /.image -->
                                <div class="name">仇先生</div>
                                <!-- /.name -->
                                <div class="phone">137-6471-9681</div>
                                <!-- /.phone -->
                                <div class="email"><a href="#">&nbsp;</a>
                                </div>
                                <!-- /.email -->
                            </div>
                            <!-- /.agent -->

                            <div class="agent">
                                <div class="image">
                                    <img src="img/photos/john-small.png" alt="">
                                </div>
                                <!-- /.image -->
                                <div class="name">邬女士</div>
                                <!-- /.name -->
                                <div class="phone">189-1672-8709</div>
                                <!-- /.phone -->
                                <div class="email"><a href="#">&nbsp</a>
                                </div>
                                <!-- /.email -->
                            </div>
                            <!-- /.agent -->
                        </div>
                        <!-- /.content -->
                    </div>
                    <!-- /.our-agents -->
                    <div class="widget contact">
                        <div class="title">
                            <h2 class="block-title">留言</h2>
                        </div>
                        <!-- /.title -->

                        <div class="content">
                            <form method="post">
                                <div class="control-group">
                                    <label class="control-label" for="inputName">
                                        姓名
                                        <span class="form-required" title="This field is required.">*</span>
                                    </label>

                                    <div class="controls">
                                        <input type="text" id="inputName">
                                    </div>
                                    <!-- /.controls -->
                                </div>
                                <!-- /.control-group -->

                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">
                                        手机
                                        <span class="form-required" title="This field is required.">*</span>
                                    </label>

                                    <div class="controls">
                                        <input type="text" id="inputEmail">
                                    </div>
                                    <!-- /.controls -->
                                </div>
                                <!-- /.control-group -->

                                <div class="control-group">
                                    <label class="control-label" for="inputMessage">
                                        内容
                                        <span class="form-required" title="This field is required.">*</span>
                                    </label>

                                    <div class="controls">
                                        <textarea id="inputMessage"></textarea>
                                    </div>
                                    <!-- /.controls -->
                                </div>
                                <!-- /.control-group -->

                                <div class="form-actions">
                                    <input type="submit" class="btn btn-primary arrow-right" value="Send">
                                </div>
                                <!-- /.form-actions -->
                            </form>
                        </div>
                        <!-- /.content -->
                    </div>
                    <!-- /.widget -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /#content -->

