<div class="container">
    <div id="main">
        <div class="slider-wrapper">
            <div class="slider">
                <div class="slider-inner">
                    <div class="row">
                        <div class="images span9">

                            <div id="myCarousel" class="carousel slide iosSlider">
                                <!-- 轮播（Carousel）指标 -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                    <li data-target="#myCarousel" data-slide-to="3"></li>
                                </ol>
                                <!-- 轮播（Carousel）项目 -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="app/img/TCJJ_Home_1.png" alt="First slide"/>
                                    </div>
                                    <div class="item">
                                        <img src="img/tmp/property-large-2.jpg" alt="Second slide"/>
                                    </div>
                                    <div class="item">
                                        <img src="app/img/slider-2.jpg" alt="Third slide"/>
                                    </div>
                                    <div class="item">
                                        <img src="app/img/slider-3.jpg" alt="Third slide"/>
                                    </div>
                                </div>
                                <!-- 轮播（Carousel）导航 -->
                                <a class="carousel-control left" href="javascript:void(0);"
                                   onclick="$('#myCarousel').carousel('prev');">&lsaquo;</a>
                                <a class="carousel-control right" href="javascript:void(0);"
                                   onclick="$('#myCarousel').carousel('next');">&rsaquo;</a>
                            </div>

                        </div>
                        <!-- /.images -->
                        <div class="span3">
                            <div class="property-filter">
                                <div class="content">
                                    <form method="get" action="?">
                                        <div class="location control-group">
                                            <label class="control-label" for="inputLocation">
                                                Location
                                            </label>

                                            <div class="controls">
                                                <select id="inputLocation">
                                                    <option id="malibu">Malibu, CA</option>
                                                    <option id="palo-alto">Palo Alto, CA</option>
                                                </select>
                                            </div>
                                            <!-- /.controls -->
                                        </div>
                                        <!-- /.control-group -->

                                        <div class="type control-group">
                                            <label class="control-label" for="inputType">
                                                Type
                                            </label>

                                            <div class="controls">
                                                <select id="inputType">
                                                    <option id="apartment">Apartment</option>
                                                    <option id="condo">Condo</option>
                                                </select>
                                            </div>
                                            <!-- /.controls -->
                                        </div>
                                        <!-- /.control-group -->

                                        <div class="beds control-group">
                                            <label class="control-label" for="inputBeds">
                                                Beds
                                            </label>

                                            <div class="controls">
                                                <select id="inputBeds">
                                                    <option id="1">1</option>
                                                    <option id="2">2</option>
                                                </select>
                                            </div>
                                            <!-- /.controls -->
                                        </div>
                                        <!-- /.control-group -->

                                        <div class="baths control-group">
                                            <label class="control-label" for="inputBaths">
                                                Baths
                                            </label>

                                            <div class="controls">
                                                <select id="inputBaths">
                                                    <option id="11">1</option>
                                                    <option id="22">2</option>
                                                </select>
                                            </div>
                                            <!-- /.controls -->
                                        </div>
                                        <!-- /.control-group -->


                                        <div class="rent control-group">
                                            <div class="controls">
                                                <label class="checkbox" for="inputRent">
                                                    <input type="checkbox" id="inputRent"> Rent
                                                </label>
                                            </div>
                                            <!-- /.controls -->
                                        </div>
                                        <!-- /.control-group -->

                                        <div class="sale control-group">
                                            <div class="controls">
                                                <label class="checkbox" for="inputSale">
                                                    <input type="checkbox" id="inputSale"> Sale
                                                </label>
                                            </div>
                                            <!-- /.controls -->
                                        </div>
                                        <!-- /.control-group -->

                                        <div class="price-from control-group">
                                            <label class="control-label" for="inputPriceFrom">
                                                Price from
                                            </label>

                                            <div class="controls">
                                                <input type="text" id="inputPriceFrom" name="inputPriceFrom">
                                            </div>
                                            <!-- /.controls -->
                                        </div>
                                        <!-- /.control-group -->

                                        <div class="price-to control-group">
                                            <label class="control-label" for="inputPriceTo">
                                                Price to
                                            </label>

                                            <div class="controls">
                                                <input type="text" id="inputPriceTo" name="inputPriceTo">
                                            </div>
                                            <!-- /.controls -->
                                        </div>
                                        <!-- /.control-group -->

                                        <div class="price-value">
                                            <span class="from"></span><!-- /.from -->
                                            -
                                            <span class="to"></span><!-- /.to -->
                                        </div>
                                        <!-- /.price-value -->

                                        <div class="price-slider">
                                        </div>
                                        <!-- /.price-slider -->

                                        <div class="form-actions">
                                            <input type="submit" value="Filter now!" class="btn btn-primary btn-large">
                                        </div>
                                        <!-- /.form-actions -->
                                    </form>
                                </div>
                                <!-- /.content -->
                            </div>
                            <!-- /.property-filter -->

                        </div>
                        <!-- /.span3 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.slider-inner -->
            </div>
            <!-- /.slider -->
        </div>
        <!-- /.slider-wrapper -->
        <div class="row">
            <div class="span9">
                <h1 class="page-header">最受欢迎 Favorite</h1>

                <div class="properties-grid">
                    <div class="row">
                        <div class="property span3" ng-repeat="store in catestores">
                            <div class="image">
                                <a href="#/{{store.classname}}/{{store.id}}"></a>
                                <img ng-if="store.logo2" ng-src="app/img/{{store.userid}}/{{store.logo2}}"
                                     alt="{{store.name}}">
                                <img ng-if="!store.logo2" ng-src="app/img/{{store.category}}.png" alt="{{store.name}}">
                                <!-- /.content -->
                                <div class="price">
                                    人均:￥{{store.pcc}}元
                                </div>
                                <!-- /.price -->
                            </div>
                            <!-- /.image -->
                            <div class="title">
                                <h2><a href="#/{{store.classname}}/{{store.id}}">{{store.name}}</a>&nbsp;&nbsp;<span
                                    class="content-stars-rank content-stars-{{store.hot}}"></span></h2>
                            </div>
                            <!-- /.title -->
                            <div class="location">
                                地区:{{store.town}}<span class="value">&nbsp;&nbsp;电话:{{store.phone}}</span></h5>
                            </div>
                            <!-- /.location-->
                            <div class="feature">
                                <span class="key">特色:</span>
                                <span class="value">{{store.feature}}</span>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.property -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.properties-grid -->
            </div>
            <div class="sidebar span3">
                <div class="widget our-agents">
                    <div class="title">
                        <h2>Our Agents</h2>
                    </div>
                    <!-- /.title -->
                    <div class="content">
                        <div class="agent">
                            <div class="image">
                                <img src="img/photos/emma-small.png" alt="">
                            </div>
                            <!-- /.image -->
                            <div class="name">Victoria Summer</div>
                            <!-- /.name -->
                            <div class="phone">333-666-777</div>
                            <!-- /.phone -->
                            <div class="email"><a href="mailto:victoria@example.com">victoria@example.com</a>
                            </div>
                            <!-- /.email -->
                        </div>
                        <!-- /.agent -->
                        <div class="agent">
                            <div class="image">
                                <img src="img/photos/john-small.png" alt="">
                            </div>
                            <!-- /.image -->
                            <div class="name">John Doe</div>
                            <!-- /.name -->
                            <div class="phone">111-222-333</div>
                            <!-- /.phone -->
                            <div class="email"><a href="mailto:john.doe@example.com">victoria@example.com</a>
                            </div>
                            <!-- /.email -->
                        </div>
                        <!-- /.agent -->
                    </div>
                    <!-- /.content -->
                </div>
                <!-- /.our-agents -->
                <div class="hidden-tablet">
                    <div class="widget properties last">
                        <div class="title">
                            <h2>最新入驻 Newest</h2>
                        </div>
                        <!-- /.title -->

                        <div class="content">
                            <div class="property">
                                <div class="image">
                                    <a href="detail.html"></a>
                                    <img src="img/tmp/property-small-4.png" alt="">
                                </div>
                                <!-- /.image -->

                                <div class="wrapper">
                                    <div class="title">
                                        <h3>
                                            <a href="detail.html">27523 Pacific Coast</a>
                                        </h3>
                                    </div>
                                    <!-- /.title -->
                                    <div class="location">Palo Alto CA</div>
                                    <!-- /.location -->
                                    <div class="price">€2 300 000</div>
                                    <!-- /.price -->
                                </div>
                                <!-- /.wrapper -->
                            </div>
                            <!-- /.property -->

                            <div class="property">
                                <div class="image">
                                    <a href="detail.html"></a>
                                    <img src="img/tmp/property-small-5.png" alt="">
                                </div>
                                <!-- /.image -->

                                <div class="wrapper">
                                    <div class="title">
                                        <h3>
                                            <a href="detail.html">27523 Pacific Coast</a>
                                        </h3>
                                    </div>
                                    <!-- /.title -->
                                    <div class="location">Palo Alto CA</div>
                                    <!-- /.location -->
                                    <div class="price">€2 300 000</div>
                                    <!-- /.price -->
                                </div>
                                <!-- /.wrapper -->
                            </div>
                            <!-- /.property -->

                            <div class="property">
                                <div class="image">
                                    <a href="detail.html"></a>
                                    <img src="img/tmp/property-small-6.png" alt="">
                                </div>
                                <!-- /.image -->

                                <div class="wrapper">
                                    <div class="title">
                                        <h3>
                                            <a href="detail.html">27523 Pacific Coast</a>
                                        </h3>
                                    </div>
                                    <!-- /.title -->
                                    <div class="location">Palo Alto CA</div>
                                    <!-- /.location -->
                                    <div class="price">€2 300 000</div>
                                    <!-- /.price -->
                                </div>
                                <!-- /.wrapper -->
                            </div>
                            <!-- /.property -->

                            <div class="property">
                                <div class="image">
                                    <a href="detail.html"></a>
                                    <img src="img/tmp/property-small-2.png" alt="">
                                </div>
                                <!-- /.image -->

                                <div class="wrapper">
                                    <div class="title">
                                        <h3>
                                            <a href="detail.html">27523 Pacific Coast</a>
                                        </h3>
                                    </div>
                                    <!-- /.title -->
                                    <div class="location">Palo Alto CA</div>
                                    <!-- /.location -->
                                    <div class="price">€2 300 000</div>
                                    <!-- /.price -->
                                </div>
                                <!-- /.wrapper -->
                            </div>
                            <!-- /.property -->
                        </div>
                        <!-- /.content -->
                    </div>
                    <!-- /.properties -->
                </div>
            </div>
        </div>
        <div id="cate" class="carousel">
            <h2 class="page-header">美食外卖 Cate<a href="#/cate" style="float: right">More...</a></h2>

            <div class="content">
                <a class="carousel-prev" href="#/cate">Previous</a>
                <a class="carousel-next" href="#/cate">Next</a>
                <ul>
                    <li carousel role="cate" ng-repeat="store in catestores">
                        <div class="image">
                            <a href="#/cate/{{store.id}}"></a>
                            <img ng-if="store.logo2" ng-src="app/img/{{store.userid}}/{{store.logo2}}"
                                 alt="{{store.name}}">
                            <img ng-if="!store.logo2" ng-src="app/img/{{store.category}}.png" alt="{{store.name}}">
                        </div>
                        <!-- /.image -->
                        <div class="title">
                            <h3><a href="#/cate/{{store.id}}">{{store.name}}</a>&nbsp;&nbsp;<span
                                class="content-stars-rank content-stars-{{store.hot}}"></span></h3>
                        </div>
                        <!-- /.title -->
                        <div class="location">
                            地区:{{store.town}}<span class="value">&nbsp;&nbsp;电话:{{store.phone}}</span></h5>
                        </div>
                        <!-- /.location-->
                        <div class="feature">
                            <span class="key">特色:</span>
                            <span class="value">{{store.feature}}</span>
                        </div>
                        <!-- /.feature -->
                        <div class="pcc">
                            <div class="inner" ng-if="store.pcc > 0">人均:￥{{store.pcc}}元</div>
                        </div>
                        <!-- /.pcc -->
                    </li>
                </ul>
            </div>
            <!-- /.content -->
        </div>
        <!-- /#cate .carousel -->
        <div id="help" class="carousel">
            <h2 class="page-header">同城服务 Service<a href="#/help" style="float: right">More...</a></h2>

            <div class="content">
                <a class="carousel-prev" href="#/help">Previous</a>
                <a class="carousel-next" href="#/help">Next</a>
                <ul>
                    <li carousel role="help" ng-repeat="store in helpstores">
                        <div class="image">
                            <a href="#/help/{{store.id}}"></a>
                            <img ng-if="store.logo2" ng-src="app/img/{{store.userid}}/{{store.logo2}}"
                                 alt="{{store.name}}">
                            <img ng-if="!store.logo2" ng-src="app/img/{{store.category}}.png" alt="{{store.name}}">
                        </div>
                        <!-- /.image -->
                        <div class="title">
                            <h3><a href="#/help/{{store.id}}">{{store.name}}</a>&nbsp;&nbsp;<span
                                class="content-stars-rank content-stars-{{store.hot}}"></span></h3>
                        </div>
                        <!-- /.title -->
                        <div class="location">
                            地区:{{store.town}}<span class="value">&nbsp;&nbsp;电话:{{store.phone}}</span></h5>
                        </div>
                        <!-- /.location-->
                        <div class="feature">
                            <span class="key">专长:</span>
                            <span class="value">{{store.feature}}</span>
                        </div>
                        <!-- /.feature -->
                    </li>
                </ul>
            </div>
            <!-- /.content -->
        </div>
        <!-- /#help .carousel -->
    </div>
</div>
<div class="bottom-wrapper">
    <div class="bottom container">
        <div class="bottom-inner row">
            <div class="item span4">
                <div class="address decoration"></div>
                <h2><a>List your property</a></h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan dui ac nunc
                    imperdiet rhoncus. Aenean vitae imperdiet lectus</p>
                <a href="#" class="btn btn-primary">Read more</a>
            </div>
            <!-- /.item -->

            <div class="item span4">
                <div class="gps decoration"></div>
                <h2><a>Advertise rentals</a></h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan dui ac nunc
                    imperdiet rhoncus. Aenean vitae imperdiet lectus</p>
                <a href="#" class="btn btn-primary">Read more</a>
            </div>
            <!-- /.item -->

            <div class="item span4">
                <div class="key decoration"></div>
                <h2><a>Guidance</a></h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan dui ac nunc
                    imperdiet rhoncus. Aenean vitae imperdiet lectus</p>
                <a href="#" class="btn btn-primary">Read more</a>
            </div>
            <!-- /.item -->
        </div>
        <!-- /.bottom-inner -->
    </div>
    <!-- /.bottom -->
</div>
<!-- /.bottom-wrapper -->
